* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-image: url("../../../public/image/Auth-bg.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

    
    .container {
        display: flex;
        justify-content: center;

        .box {
            width: 500px;
            margin-top: 100px;
            background-color: #ffffff;
            border-radius: 10px;
            padding: 20px;
            
            
        }

       
    }
}