.content{
    text-align: center;
    color: rgb(255, 127, 155);
    margin-bottom: 3px;
}
.input {
    padding: 7px;
    margin-top: 10px;
    border-radius: 7px;
}

.button {
    margin-top: 10px;
    padding: 7px;
    border-radius: 7px;
    transition: 0.5s; 
}
.button:hover {
    color: rgb(255, 127, 155);
    background-color: rgb(221, 255, 0);
}