.background {
    height: 100vh;
    background-image: url("../../../public/img/auth-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {

    display: flex;
    justify-content: center;

}

.box {
    margin-top: 100px;
    width: 500px;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
}