.OverView{
    padding: 40px 0;
    background-color: rgb(10 32 41);
    color: white;
    .OverViewContent{
        display: flex;
        justify-content: center;
  
        @media screen and (max-width: 468px) {
            h1{
                font-size: 20px;
            }
            p {
                font-size: 12px;
                margin-bottom: 4px;
            }
        }
  
        .ImgMovie{
            width: 100%;
            // height: 100%;
            img{
                width: 100%;
                height: 550px;
                border: 1px solid black;
                border-radius: 30px;
  
                @media screen and (max-width: 992px) {
                    height: 400px;
                }
                @media screen and (max-width: 768px) {
                    height: 350px;
                }
                @media screen and (max-width: 480px) {
                    height: 300px;
                }
            }
        }
    }
  
  }

  .button {
    
    
    align-items: center;
    margin: 10px 0 35px;
  
    button {
      padding: 10px;
      border: none;
      border-radius: 4px;
      margin-right: 5px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
  
      &:last-child {
        margin-right: 0;
      }
  
      &.buyTicket {
        background-color: rgb(255, 127, 155);
        color: rgb(221, 255, 0);
        margin-right: 10px;
  
        &:hover {
          background-color: rgb(221, 255, 0);
          color: rgb(255, 127, 155);
          border: 1px solid rgb(255, 127, 155);
        }
      }
  
      &:hover:not(.buyTicket) {
        background-color: rgb(255, 127, 155);
        color: rgb(221, 255, 0);
      }
    }
  }

